:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Main-BG: hsl(217, 54%, 11%);
  --card-BG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Main-BG);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Soft-blue);
  font-family: "Outfit", sans-serif;
}

main {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-BG);
  padding: 1.1em;
  gap: 1.5rem;
  border-radius: 0.5em;
}
.view-icon {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(178, 100%, 50%, 50%);
  width: 100%;
  opacity: 1;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.imgbox {
  border-radius: 0.5em;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.imgbox:hover .view-icon {
  visibility: visible;
}
.descp a {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: var(--White);
}
.descp a:hover {
  color: var(--Cyan);
}
.descp p {
  margin-top: 0.5em;
  color: var(--Soft-blue);
  font-weight: 300;
}
.eth-price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.eth {
  display: flex;
  color: var(--Cyan);
}
.eth-price .eth-ico {
  margin-right: 0.5em;
}
.time-ico {
  margin-right: 0.5em;
}
.eth-price .time {
  display: flex;
  color: var(--soft-dark-blue);
}
.footer {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 1.1em;
  font-size: 1.1rem;
  margin-left: 1.1rem;
}
.footer-text {
  color: var(--Soft-blue);
  margin-left: 0.5em;
  font-weight: 300;
}
.footer-text a {
  color: var(--White);
  font-weight: 400;
}
.footer-text a:hover {
  color: var(--Cyan);
  font-weight: 400;
}

.avatar {
  border: 1px solid var(--White);
  border-radius: 9999px;
}
.avatar img {
  width: 32px;
}
